<h2>Post by <%=@row['userName']%></h2>
<br>
	<p>
		<%=@row['content']%>
		<br>
		<!-- <a href="/post/<%=@row['id']%>">Comments</a> -->
		<br>
		Added at: <%=@row['create_date']%>
	</p>
	<hr/>

	<h3>Comments:</h3>
	<br>
	<%@comments.each do |comments|%>

		<p><%=comments['content']%></p>
		<small style="color:#599">Added at: <%=comments['create_date']%></small>
	<hr>
	<% end -%>
	
	<p>	
		<!-- здесь происходит подставка в урл через хэш с помощью ключа id -->
<form action="/detail_post/<%=@row['id']%>" method="POST" role="form">
  <div class="form-group">
   <textarea name="postUser" class="form-control" rows="10" placeholder="Into you comment there"></textarea>
   <br>
  <button type="submit" class="btn btn-primary">Add comment</button>
</form>
	</p>